<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/iScroll/5.2.0/iscroll.min.js"></script>

</head>

<body>
    <div class="index-box container">
        <div class="logo ">
            <i class="icon-logo"></i>
        </div>
        <ul class="servers">
            <li type="wash">
                <a href="#">洗车 </a>
                <i class="icon-arrow-right"></i>
            </li>
            <li type="needMaintenance">
                <a href="#">美容保养</a>
                <i class="icon-arrow-right"></i>
            </li>
            <li type="needRepair">
                <a href="#">维修</a>
                <i class="icon-arrow-right"></i>
            </li>
        </ul>
        <div class="lately-order" id="lately-warpper">

        </div>
        <script id="lately-tem" type="text/html">
            <h2>最近预约</h2>
            {{each latelys item index}}
            <a class="lately-order-item" orderId="{{item.orderId}}" server="{{item|washServiceLabel}}">
                <i class="icon-position"></i>
                <div class="caption">
                    <h3>{{item.shopName}}</h3>
                    <p>时间：{{item.reservedTime}}</p>
                    <p>地址:{{item.detailAddr}}</p>
                </div>
            </a> {{/each}}
        </script>
    </div>

    <ul class="nav-tab home">
        <li class="active">
            <a href="index.html">
                <i class="icon-smile"></i>
                <span>首页</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="icon-emergency-project"></i>
                <span>救援</span>
            </a>
        </li>
        <li>
            <a href="userCenter.html">
                <i class="icon-my-center"></i>
                <span>我</span>
            </a>
        </li>
    </ul>

    <div class="order-warpper">
        <div class="order-time order-item">
            <ul class="washType">
                <li class="active" washCode="1">普洗</li>
                <li washCode="2">精洗</li>
            </ul>
            <div class="form-box">
                <div class="form-item">
                    <i>预约日期</i>
                    <input class="orderDate" orderTypeCode="1" type="date">
                </div>
                <div class="form-item">
                    <i>时间</i>
                    <div class="drop" id="times">

                    </div>
                    <script type="text/html" id="times-tem">
                        <h3 class="time" code="{{now}}">{{now}}</h3>
                        <ul class="drop-menu times">
                            {{each times item index}}
                            <li code="{{item}}" orderTypeCode="1">{{item}}</li>
                            {{/each}}
                        </ul>
                    </script>
                </div>


                <input class="instant-services btn btn-default" type="button" orderTypeCode="2" style="text-indent:0;margin-bottom:5px;" value="即时服务">

                <input class="btn btn-primary ordernext" type="button" value="下一步">
                <input class="btn btn-default goback" type="button" value="返回上一步">
            </div>
        </div>
        <div class="order-pro  order-item">
            <script type="text/html" id="order-pro-tem">

            </script>
            <div class="form-box top ">
                <div class="item  city">
                    <span class="icon-position"></span>
                    <div class="drop">
                        <h3 code="1" id="city">广州</h3>
                        <ul class="drop-menu" id="citys-list-warpper">

                        </ul>
                        <script id="city-tem" type="text/html">
                            {{each citys item index}}
                            <li code="{{item.code}}">{{item.title}}</li>
                            {{/each}}
                        </script>
                    </div>
                </div>
                <!--<div class="item search">

                    <input type="text" placeholder="输入地址搜索周边的店">
                    <i class="icon-search"></i>
                </div>-->
            </div>

            <div class="main">
                <div class="district-list">
                    <ul id="district-warpper">

                    </ul>
                </div>
                <script id="district-tem" type="text/html">
                    {{each districts item index}}
                    <li code="{{item.code}}" {{if index==0}}class="active" {{/if}} cityCode="{{item.cityCode}}">{{item.title}}</li>
                    {{/each}}
                </script>
                <div class="shop-list" id="shop-list">
                    <div id="shop-list-warpper">


                    </div>
                </div>
                <script type="text/html" id="shop-list-tem">
                    {{each providers item index}}
                    <div class="list-item" providerId="{{item.providerId}}" shopName="{{item.shopName}}" detailAddr="{{item.detailAddr}}">
                        <!--<h2>天河区</h2>-->
                        <ul class="list-warpper">
                            <li>
                                <div class="shop-title">
                                    <h4>{{item.shopName}}</h4>
                                    <!--<span class="distance">0.67KM</span>-->
                                </div>
                                <div class="phone">
                                    <i class="icon-mobile"></i> 135xxxxxxxx
                                </div>
                                <address>
                                    地址：{{item.detailAddr}}
                                </address>
                            </li>
                        </ul>
                    </div>
                    {{/each}}
                </script>
            </div>
            <input class="btn btn-primary next" type="button" value="下一步">
            <input class="btn btn-default backTime" type="button" value="返回">
        </div>
        <div class="order-sure  order-item message">
            <h2>请确认预约信息</h2>
            <ul id="sure">

            </ul>
            <script type="text/html" id="sure-tem">
                <li>
                    <i class="icon-merchant"></i>
                    <div class="caption">
                        <h4>门店</h4>
                        <p>{{orderJson.shopName}}</p>
                    </div>
                </li>
                <li>
                    <i class="icon-merchant"></i>
                    <div class="caption">
                        <h4>地址</h4>
                        <p>{{orderJson.detailAddr}}</p>
                    </div>
                </li>
                <li>
                    <i class="icon-merchant"></i>
                    <div class="caption">
                        <h4>预约时间</h4>
                        <p>{{orderJson.orderTime}}</p>
                    </div>
                </li>
                <li>
                    <i class="icon-merchant"></i>
                    <div class="caption">
                        <h4>预约项目</h4>
                        <p>{{orderJson|washServiceLabel}}</p>
                    </div>
                </li>
            </script>
            <div class="btn-warpper">
                <input type="button" class="btn btn-primary submit-order" value="确定预约">
                <div class="btn-bottom">
                    <input type="button" class="btn btn-default backOrderPro" value="修改">
                    <input type="button" class="btn btn-default sure-goback" value="返回">
                </div>
            </div>
        </div>
    </div>
</body>

</html>