<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
    <div class="index-box container">
        <div class="logo ">
            <i class="icon-logo"></i>
        </div>
        <ul class="servers">
            <li>
                <a href="#">普通洗车&nbsp;(预约) </a>
                <i class="icon-arrow-right"></i>
            </li>
            <li> <a href="#">美容保养&nbsp;(预约)</a>
                <i class="icon-arrow-right"></i></li>
            <li> <a href="#">维修&nbsp;(预约)</a>
                <i class="icon-arrow-right"></i></li>
        </ul>
        <div class="lately-order">
            <h2>最近预约</h2>
            <a class="lately-order-item">
                <i class="icon-position"></i>
                <div class="caption">
                    <h3>汽车美容服务商1号</h3>
                    <p>时间：2017.6.1</p>
                    <p>地址:XXXXXXXXXXXXXX</p>
                </div>
            </a>
            <a class="lately-order-item">
                <i class="icon-position"></i>
                <div class="caption">
                    <h3>汽车美容服务商1号</h3>
                    <p>时间：2017.6.1</p>
                    <p>地址:XXXXXXXXXXXXXX</p>
                </div>
            </a>
        </div>
    </div>

    <ul class="nav-tab">
        <li class="active">
            <a href="index.html">
                <i class="icon-smile"></i>
                <span>首页</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="icon-emergency-project"></i>
                <span>救援</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="icon-my-center"></i>
                <span>我</span>
            </a>
        </li>
    </ul>

    <div class="order-warpper">
        <div class="order-time">
            <div class="form-box">
                <div class="form-item">
                    <i>预约时间</i>
                    <input class="pwd" type="datetime-local" placeholder="请输入行驶证号">
                </div>

                <div class="form-item">
                    <input class="pwd" type="text" disabled="disabled" placeholder="即时服务">
                </div>
                <input class="btn btn-primary " type="button" value="确定预约">
                <input class="btn btn-default goback" type="button" value="返回上一步">
            </div>
        </div>
        <div class="order-pro">

            <div class="form-box top ">
                <div class="item  city">
                    <span class="icon-position"></span>
                    <div class="drop">
                        <h3 code="1" id="genderCode">先生</h3>
                        <ul class="drop-menu">
                            <li code="1">先生</li>
                            <li code="2">女士</li>
                        </ul>
                    </div>
                </div>
                <div class="item search">
                    <input type="text">
                </div>
            </div>

            <div class="main">
                <ul class="district-list">
                    111111w
                </ul>
                <ul class="shop-list">
                    11111111111
                </ul>
            </div>
        </div>
    </div>
</body>

</html>