<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery-easing/1.4.1/jquery.easing.min.js"></script>
</head>

<body>
    <form id="msform">
        <!-- progressbar -->
        <ul id="progressbar">
            <li class="active">会员资料</li>
            <li>购买服务</li>
            <li>提交证件</li>
            <li>设置密码</li>
        </ul>
        <!-- fieldsets -->
        <fieldset>
            <div class="form-box">
                <h2 class="fs-title">个人信息</h2>
                <div class="form-item">
                    <i>电话</i>
                    <input class="pwd" id="pwd" type="text" placeholder="请输入手机号码">
                </div>
                <div class="form-item">
                    <i>姓名</i>
                    <input class="pwd" id="pwd" type="text" placeholder="请输入姓名">
                </div>
                <div class="form-item">
                    <i>性别</i>
                    <div class="drop">
                        <h3 class="sex">先生</h3>
                        <ul class="drop-menu">
                            <li>女士</li>
                            <li>先生</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="form-box">
                <h2 class="fs-title">爱车信息</h2>
                <div class="form-item">
                    <i>品牌</i>
                    <div class="drop">
                        <h3 class="sex">请选择爱车品牌</h3>
                        <ul class="drop-menu">
                            <li>女士</li>
                            <li>先生</li>
                        </ul>
                    </div>
                </div>
                <div class="form-item">
                    <i>型号</i>
                    <div class="drop">
                        <h3 class="sex">请选择爱车型号</h3>
                        <ul class="drop-menu">
                            <li>女士</li>
                            <li>先生</li>
                        </ul>
                    </div>
                </div>
                <div class="form-item">
                    <i>购入价</i>
                    <div class="drop">
                        <h3 class="sex">您的爱车购入价</h3>
                        <ul class="drop-menu">
                            <li>女士</li>
                            <li>先生</li>
                        </ul>
                    </div>
                </div>
                <div class="form-item">
                    <i>里程</i>
                    <input class="pwd" id="pwd" type="text" placeholder="已行驶里程">
                </div>
                <div class="form-item">
                    <i>推荐人</i>
                    <input class="pwd" id="pwd" type="text" placeholder="选填">
                </div>
            </div>

            <input type="button" name="next" class="next action-button btn btn-primary" value="下一步" />
            <a class="btn btn-default" href="login.html">返回登录</a>
        </fieldset>
        <fieldset>
            <h2 class="fs-title">Social Profiles</h2>
            <h3 class="fs-subtitle">Your presence on the social network</h3>
            <input type="text" name="twitter" placeholder="Twitter" />
            <input type="text" name="facebook" placeholder="Facebook" />
            <input type="text" name="gplus" placeholder="Google Plus" />
            <input type="button" name="previous" class="previous action-button" value="Previous" />
            <input type="button" name="next" class="next action-button" value="Next" />
        </fieldset>
        <fieldset>
            <h2 class="fs-title">Social Profiles</h2>
            <h3 class="fs-subtitle">Your presence on the social network</h3>
            <input type="text" name="twitter" placeholder="Twitter" />
            <input type="text" name="facebook" placeholder="Facebook" />
            <input type="text" name="gplus" placeholder="Google Plus" />
            <input type="button" name="previous" class="previous action-button" value="Previous" />
            <input type="button" name="next" class="next action-button" value="Next" />
        </fieldset>
        <fieldset>
            <h2 class="fs-title">Personal Details</h2>
            <h3 class="fs-subtitle">We will never sell it</h3>
            <input type="text" name="fname" placeholder="First Name" />
            <input type="text" name="lname" placeholder="Last Name" />
            <input type="text" name="phone" placeholder="Phone" />
            <textarea name="address" placeholder="Address"></textarea>
            <input type="button" name="previous" class="previous action-button" value="Previous" />
            <input type="submit" name="submit" class="submit action-button" value="Submit" />
        </fieldset>
    </form>

</body>

</html>