<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
    <div class="index-box container">
        <div class="logo ">
            <i class="icon-logo"></i>
        </div>
        <ul class="servers">
            <li>
                <a href="#">普通洗车&nbsp;(预约) </a>
                <i class="icon-right"></i>
            </li>
            <li> <a href="#">美容保养&nbsp;(预约)</a>
                <i class="icon-right"></i></li>
            <li> <a href="#">维修&nbsp;(预约)</a>
                <i class="icon-right"></i></li>
        </ul>
        <div class="lately-order">
            <h2>最近预约</h2>
            <a class="lately-order-item">
                <i class="icon-position"></i>
                <div class="caption">
                    <h3>汽车美容服务商1号</h3>
                    <p>时间：2017.6.1</p>
                    <p>地址:XXXXXXXXXXXXXX</p>
                </div>
            </a>
            <a class="lately-order-item">
                <i class="icon-position"></i>
                <div class="caption">
                    <h3>汽车美容服务商1号</h3>
                    <p>时间：2017.6.1</p>
                    <p>地址:XXXXXXXXXXXXXX</p>
                </div>
            </a>
        </div>
    </div>

    <ul class="nav-tab">
        <li>
            <a href="index.html">
                <i class="icon-smile"></i>
                <span>首页</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="icon-urgency"></i>
                <span>救援</span>
            </a>
        </li>
        <li class="active">
            <a href="userCenter.html">
                <i class="fa fa-user"></i>
                <span>我</span>
            </a>
        </li>
    </ul>
</body>

</html>