<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div class="wechat_pay">
        <div class="icon-coffee smile"></div>
        <p>用户您好：我们正确认您的支付订单，</p>
        <p>请耐心等待，您还可以拨打</p>
        <p class="phone">我们的24小时客户服务热线：<a href="tel:020-82455421">020-82455421</a></p>
        <a href="./login.html" class="btn btn-primary" style="text-align:center;">返回登录</a>
    </div>

</body>

</html>