<!DOCTYPE>
<html lang="zh-cn">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <title>首页</title>

    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>

<body>

    <div class="down-main">
        <div class="left-main left-off">
            <div class="logo">
                <span class="icon-logo"></span>

            </div>
            <div class="sidebar-fold"><span class="glyphicon glyphicon-menu-hamburger"></span></div>
            <div class="subNavBox">
                <div class="sBox">

                    <ul class="navContent" style="display:block">
                        <li class="active">
                            <a href="index.html">
                                <span class="sublist-icon glyphicon glyphicon-home"></span><span class="sub-title">首页</span></a>
                        </li>
                        <li>
                            <a href="orderList.html">
                                <span class="sublist-icon glyphicon glyphicon-list-alt"></span><span class="sub-title">订单管理</span></a>
                        </li>
                        <li>

                            <a href="serverList.html"><span class="sublist-icon glyphicon glyphicon-list"></span><span class="sub-title">服务单列表</span></a> </li>
                        <li>

                            <a href="userInfo.html"><span class="sublist-icon glyphicon glyphicon-user"></span><span class="sub-title">店铺信息</span></a></li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="right-product my-index right-off">
            <div class="container-fluid" id="init">

            </div>
            <script type="text/html" id="init-tem">
                <div class="info-center">

                    <div class="row user-info">
                        <div class="col-md-12 col-xs-12">
                            <h3>{{providerInfo.shopName}}</h3>
                            <p>{{providerInfo.virMoney}}</p>
                            <h5>店铺积分</h5>
                        </div>

                    </div>
                    <div class="content-list clearfix">

                        <div class="row">
                            <h4>订单管理</h4>
                            <div class="col-md-4 col-xs-6 col-sm-6">
                                <div class="content">
                                    <a class=" right-title" href="orderList.html#1">
                                        <h3 class="number">{{unconfirmNum}}</h3>
                                        <p>待确认订单</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-6 col-sm-6">
                                <div class="content">
                                    <a class=" right-title" href="orderList.html#2">
                                        <h3 class="number">{{confirmedNum}}</h3>
                                        <p>已经确认订单</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-6 col-sm-6">
                                <div class="content">
                                    <a class=" right-title" href="orderList.html#6">
                                        <h3 class="number">{{forServiceNum}}</h3>
                                        <p>待服务的订单</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-6 col-sm-6">
                                <div class="content">
                                    <a class=" right-title" href="orderList.html#5">
                                        <h3 class="number">{{forPriceSheepNum}}</h3>
                                        <p>等待维修报价单</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-6 col-sm-6">
                                <div class="content">
                                    <a class=" right-title" href="orderList.html#9">
                                        <h3 class="number">{{lockedNum}}</h3>
                                        <p>被冻结订单</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-6 col-sm-6">
                                <div class="content">
                                    <a class=" right-title" href="orderList.html#6">
                                        <h3 class="number">{{servicingNum}}</h3>
                                        <p>正在服务订单</p>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="content-list clearfix">

                        <div class="row">
                            <h4>服务单管理</h4>
                            <div class="col-md-12 col-xs-12 col-sm-12">
                                <div class="content">

                                    <div class=" right-title">


                                        <h3 class="number">{{submittedNum}}</h3>
                                        <p>已提交待审核服务单</p>

                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </script>
        </div>
    </div>

</body>

</html>