<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>登录</title>

    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>


</head>

<body class="server-login">

    <section class="login ">
        <h2 class="login-title">全仁科技<small>欢迎您</small></h2>
        <div class="form-item">
            <i class="icon-mobile"></i>
            <input class="mobile" id="mobile" type="number" pattern="[0-9]*" placeholder="请输入您的手机号">
            <p class="mesage"></p>
        </div>
        <div class="form-item">
            <i class="icon-pwd"></i>
            <input class="pwd" id="pwd" type="password" placeholder="请输入密码">
        </div>
        <button class="login-btn">登录</button>

    </section>
</body>

</html>