<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>上传订单</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/plupload/2.1.9/moxie.min.js"></script>
    <script src="https://cdn.bootcss.com/plupload/2.1.9/plupload.min.js"></script>


</head>


<body>

    <div class="down-main">
        <div class="left-main left-off">
            <div class="logo">
                <span class="icon-logo"></span>

            </div>
            <div class="sidebar-fold"><span class="glyphicon glyphicon-menu-hamburger"></span></div>
            <div class="subNavBox">
                <div class="sBox">

                    <ul class="navContent" style="display:block">
                        <li>

                            <a href="index.html">
                                <span class="sublist-icon glyphicon glyphicon-home"></span><span class="sub-title">首页</span></a>
                        </li>
                        <li>

                            <a href="orderList.html">
                                <span class="sublist-icon glyphicon glyphicon-list-alt"></span><span class="sub-title">订单管理</span></a>
                        </li>
                        <li class="active">

                            <a href="serverList.html"><span class="sublist-icon glyphicon glyphicon-list"></span><span class="sub-title">服务单管理</span></a> </li>
                        <li>

                            <a href="userInfo.html"><span class="sublist-icon glyphicon glyphicon-user"></span><span class="sub-title">店铺信息</span></a></li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="right-product my-index right-off">
            <div class="container-fluid">
                <div class=" upload">
                    <div class="row" id="client_userInfo">

                    </div>
                    <script type="text/html" id="client_userInfo_tem">
                        <h3 style="margin-left:15px;">客户基本信息</h3>
                        <div class="col-md-4">

                            <strong>客户车牌</strong>
                            <span>{{order.licensePlateNumber}}</span>
                        </div>
                        <div class="col-md-4">

                            <strong>客户车型</strong>
                            <span>{{order.carModelTitle}}</span>
                        </div>
                        <div class="col-md-4">

                            <strong>服务类型</strong>
                            <span>{{order|washServiceLabel}}</span>
                        </div>
                    </script>
                    <div class="form-box  image-box" style="display:block;">

                        <div class="form-item">
                            <i>里程数</i>
                            <input class="pwd" id="carMileage" type="text" placeholder="请输入里程数">
                        </div>

                        <div class="image-warpper">
                            <div class="warpper">
                                <h3>请对车辆里程牌拍照上传</h3>
                                <div class="image-file">
                                    <img src="" alt="" id="carMileageUrl_image">
                                    <input class="file" id="carMileageUrl"  uploadType="carMileageUrl"  type="file">
                                    <div class="progress-warpper">
                                        <div class="progress"></div>
                                        <div class="progress-text">
                                            正在上传中...
                                        </div>
                                    </div>
                                    <span>拍照或者选择</span>
                                </div>
                            </div>
                            <div class="warpper">
                                <h3>请对接车单拍照上传</h3>
                                <div class="image-file">
                                    <img src="" alt="" id="carAcceptedUrl_image">
                                    <input class="file" id="carAcceptedUrl" uploadType="carAcceptedUrl" type="file">
                                    <div class="progress-warpper">
                                        <div class="progress"></div>
                                        <div class="progress-text">
                                            正在上传中...
                                        </div>
                                    </div>
                                    <span>拍照或者选择</span>
                                </div>

                            </div>
                            <div class="warpper">
                                <h3>明细配件单</h3>
                                <div class="image-file">
                                    <img src="" alt="" id="carMxpjdUrl_image">
                                    <input class="file" id="carMxpjdUrl" uploadType="carMxpjdUrl" type="file">
                                    <div class="progress-warpper">
                                        <div class="progress"></div>
                                        <div class="progress-text">
                                            正在上传中...
                                        </div>
                                    </div>
                                    <span>拍照或者选择</span>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <h3>车部内况</h3>
                            <div class="select-item">

                                <div class="select-title">仪表盘照明</div>

                                <div class="select-tab">
                                    <input type="checkbox" id="carYbpzm">
                                    <div class="ball"></div>
                                    <div class="true text">正常</div>
                                    <div class="false text">异常</div>
                                </div>
                            </div>
                            <div class="select-item">

                                <div class="select-title">内部照明</div>

                                <div class="select-tab">
                                    <input type="checkbox" id="carNbzm">
                                    <div class="ball"></div>
                                    <div class="true text">正常</div>
                                    <div class="false text">异常</div>
                                </div>
                            </div>
                            <div class="select-item">

                                <div class="select-title">挡风玻璃</div>

                                <div class="select-tab">
                                    <input type="checkbox" id="carDfbl">
                                    <div class="ball"></div>
                                    <div class="true text">正常</div>
                                    <div class="false text">异常</div>
                                </div>
                            </div>
                            <div class="select-item">

                                <div class="select-title">雨刮片</div>

                                <div class="select-tab">
                                    <input type="checkbox" id="carYgp">
                                    <div class="ball"></div>
                                    <div class="true text">正常</div>
                                    <div class="false text">异常</div>
                                </div>
                            </div>
                            <div class="select-item">

                                <div class="select-title">雨刮液</div>

                                <div class="select-tab">
                                    <input type="checkbox" id="carYgy">
                                    <div class="ball"></div>
                                    <div class="true text">正常</div>
                                    <div class="false text">异常</div>
                                </div>
                            </div>



                            <div class="select-item">

                                <div class="select-title">制动液</div>

                                <div class="select-tab">
                                    <input type="checkbox" id="carZdy">
                                    <div class="ball"></div>
                                    <div class="true text">正常</div>
                                    <div class="false text">异常</div>
                                </div>
                            </div>

                            <div class="select-item">

                                <div class="select-title">发动机油</div>

                                <div class="select-tab">
                                    <input type="checkbox" id="carFdjy">
                                    <div class="ball"></div>
                                    <div class="true text">正常</div>
                                    <div class="false text">异常</div>
                                </div>
                            </div>

                            <div class="select-item">

                                <div class="select-title">防冻液</div>

                                <div class="select-tab">
                                    <input type="checkbox" id="carFdy">
                                    <div class="ball"></div>
                                    <div class="true text">正常</div>
                                    <div class="false text">异常</div>
                                </div>
                            </div>

                            <div class="select-item">

                                <div class="select-title">警示三角牌</div>

                                <div class="select-tab">
                                    <input type="checkbox" id="carJssjp">
                                    <div class="ball"></div>
                                    <div class="true text">正常</div>
                                    <div class="false text">异常</div>
                                </div>
                            </div>

                            <div class="select-item">

                                <div class="select-title">随车工具</div>

                                <div class="select-tab">
                                    <input type="checkbox" id="carScgj">
                                    <div class="ball"></div>
                                    <div class="true text">正常</div>
                                    <div class="false text">异常</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h3>车部外况</h3>
                            <div class="select-item">

                                <div class="select-title">备胎</div>

                                <div class="select-tab">
                                    <input type="checkbox" id="carBt">
                                    <div class="ball"></div>
                                    <div class="true text">正常</div>
                                    <div class="false text">异常</div>
                                </div>
                            </div>
                            <div class="select-item">

                                <div class="select-title">减震器</div>

                                <div class="select-tab">
                                    <input type="checkbox" id="carJzq">
                                    <div class="ball"></div>
                                    <div class="true text">正常</div>
                                    <div class="false text">异常</div>
                                </div>
                            </div>
                            <div class="select-item">

                                <div class="select-title">轮胎偏磨</div>

                                <div class="select-tab">
                                    <input type="checkbox" id="carLtpm">
                                    <div class="ball"></div>
                                    <div class="true text">正常</div>
                                    <div class="false text">异常</div>
                                </div>
                            </div>
                            <div class="select-item">

                                <div class="select-title">轮胎损伤</div>

                                <div class="select-tab">
                                    <input type="checkbox" id="carLtss">
                                    <div class="ball"></div>
                                    <div class="true text">正常</div>
                                    <div class="false text">异常</div>
                                </div>
                            </div>

                            <div class="select-item">

                                <div class="select-title">轮胎花纹</div>

                                <div class="select-tab">
                                    <input type="checkbox" id="carLthw">
                                    <div class="ball"></div>
                                    <div class="true text">正常</div>
                                    <div class="false text">异常</div>
                                </div>
                            </div>
                            <div class="select-item">

                                <div class="select-title">发动机渗透</div>

                                <div class="select-tab">
                                    <input type="checkbox" id="carFdjst">
                                    <div class="ball"></div>
                                    <div class="true text">正常</div>
                                    <div class="false text">异常</div>
                                </div>
                            </div>

                            <div class="select-item">

                                <div class="select-title">变速箱渗透情况</div>

                                <div class="select-tab">
                                    <input type="checkbox" id="carBsxst">
                                    <div class="ball"></div>
                                    <div class="true text">正常</div>
                                    <div class="false text">异常</div>
                                </div>
                            </div>

                            <div class="select-item">

                                <div class="select-title">半轴防尘套</div>

                                <div class="select-tab">
                                    <input type="checkbox" id="carBzfct">
                                    <div class="ball"></div>
                                    <div class="true text">正常</div>
                                    <div class="false text">异常</div>
                                </div>
                            </div>


                            <div class="select-item">

                                <div class="select-title">制动软管</div>

                                <div class="select-tab">
                                    <input type="checkbox" id="carZdrg">
                                    <div class="ball"></div>
                                    <div class="true text">正常</div>
                                    <div class="false text">异常</div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <input id="papers" type="button" name="next" class="next action-button btn btn-primary" style="margin-left: 23rem; margin-top: 1rem;" value="提交服务结算单" />
                    <input type="button" name="next" class="previous  action-button btn btn-default" style=" margin-top: 1rem;" value="返回暂不结算" />
                </div>
            </div>
        </div>
    </div>

</body>

</html>