$legacy-support-for-ie:true;
$keylist:-webkit-,
-moz-,
-ms-,
-o-,
"";

$primary-color:#f73859;
$default-color:#e8e8e8;


$halfBlack:rgba(0,0,0,.5);

@function opaColor($num){
    @return rgba(0,0,0,$num);
}

@mixin clearfix {
    @if $legacy-support-for-ie {
        *zoom: 1;
    }
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
        overflow: hidden;
    }
}

@mixin media($point) {
    @if $point==superbig {
        @media only screen and (max-width: 1200px) {
            @content;
        }
    }
    @else if $point==lg {
        @media only screen and (max-width: 992px) {
            @content;
        }
    }
    @else if $point==md {
        @media only screen and (max-width: 768px) {
            @content;
        }
    }
    @else if $point==sm {
        @media only screen and (max-width: 480px) {
            @content;
        }
    }
    @else if $point==xs {
        @media only screen and (max-width: 320px) {
            @content;
        }
    }
}

@mixin opacity($opacity) {
    opacity: $opacity;
    $opacity-ie: $opacity * 100;
    filter: alpha(opacity=$opacity-ie); //IE8
}

@mixin radius($num...) {
    @include css3(border-radius, $num);
}

@mixin transition($num) {
    @include css3(transition, $num)
}

@mixin css3($property, $value) {
    @each $prefix in '',
    -ms-,
    -moz-,
    -webkit-,
    -o-,
    {
        #{$prefix}#{$property}: $value;
    }
}

@mixin blockCenter {
    margin: {
        left: auto;
        right: auto;
    }
    ;
}

@mixin animate($num...) {
    @each $key in $keylist {
        #{$key}animation: $num;
    }
}

@mixin keyframs($name) {
    @-moz-keyframes #{$name} {
        @content;
    }
    @-webkit-keyframes #{$name} {
        @content;
    }
    @-ms-keyframes #{$name} {
        @content;
    }
    @-o-keyframes #{$name} {
        @content;
    }
    @keyframes #{$name} {
        @content;
    }
}

@function rem($num){
    @return $num/10/2+rem;
}