@import './_mixin.scss';
html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.index-box {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url('../img/server-lobin-bg.jpg') no-repeat center;
    background-size: cover;
    padding-bottom: rem(300);
    .logo {
        height: rem(236);
        font-size: rem(450);
        color: #fff;
        text-align: center;
        i {
            display: block;
            transform: translateY(-23%);
        }
    }
    .servers {
        margin-top: rem(38);
        li {
            position: relative;
            line-height: rem(110);
            height: rem(110);
            background: rgba(0, 0, 0, .5);
            &+li {
                border-top: rem(1) solid #806d5f;
            }
            a {
                position: absolute;
                left: rem(136);
                height: 100%;
                color: #fff;
                font-size: rem(36);
                text-align: rem(136);
                word-spacing: rem(26);
            }
            &:before {
                content: '';
                position: absolute;
                top: rem(43);
                left: rem(74);
                width: rem(25);
                height: rem(25);
                @include radius(100%);
                background: #fff;
            }
            &:nth-of-type(2):before {
                background: $success-color;
            }
            &:nth-of-type(3):before {
                background: $primary-color;
            }
            i {
                position: absolute;
                right: 10%;
                color: #fff;
                font-size: 2em;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
    .lately-order {
        width: 86%;
        margin: rem(65) auto 0;
        h2 {
            text-align: center;
            font-size: rem(30);
            margin-bottom: rem(26);
            color: #fff;
        }
        .lately-order-item {
            position: relative;
            width: 100%;
            height: rem(154);
            margin-bottom: rem(16);
            @include radius(rem(11));
            border: rem(1) solid #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            i {
                width: 20%;
                font-size: 2.5em;
                text-align: center;
            }
            .caption {
                width: 80%;
                h3 {
                    margin-bottom: rem(13);
                    font-size: rem(30);
                }
                p {
                    margin-bottom: rem(11);
                    font-size: rem(22);
                }
            }
        }
    }
}

.order-warpper {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 1);
    .order-time {
        position: absolute;
        @include colCenter;
        width: 80%;
        .washType {
            display: none;
            text-align: center;
            font-size: 0;
            li {
                // float: left;
                display: inline-block;
                background: #efefef;
                padding: rem(10) rem(20);
                @include radius(rem(15));
                color: #000;
                font-size: rem(20);
                &.active {
                    background: $primary-color;
                    color: #fff;
                }
            }
        }
        input[disabled="disabled"] {
            text-indent: 0;
            text-align: center;
            color: #000;
        }
        input[type="button"] {
            margin-top: rem(30);
        }
    }
    .order-pro {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        padding-top: rem(17);
        background: rgba(255, 255, 255, 1);
        .top {
            display: flex;
            justify-content: space-around;
            .item {
                position: relative;
                height: rem(50);
                background: #eeefee;
            }
            .city {
                width: 80%;
                span {
                    text-indent: rem(39);
                    font-size: rem(28);
                    position: absolute;
                    line-height: rem(50);
                }
                .drop {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: rem(50);
                    h3 {
                        color: $primary-color;
                        text-indent: rem(80);
                        line-height: rem(50);
                    }
                    .drop-menu {
                        position: absolute;
                        top: rem(50);
                        z-index: 999;
                        display: none;
                        width: 100%;
                        background: #fff;
                        text-align: center;
                        border-color: transparent #eeefee #eeefee;
                        border-style: solid;
                        border-width: rem(1);
                        padding: rem(6);
                        @include boxSizing;
                        li {
                            @include boxSizing;
                            float: left;
                            margin: rem(6) rem(6) 0 0;
                            width: 15%;
                            padding: rem(5) 0;
                            background: #eeefee;
                            line-height: rem(50);
                        }
                    }
                }
            }
            .search {
                width: 70%;
                color: #abaaaa;
                i {
                    position: absolute;
                    @include visCenter;
                    left: rem(70);
                    font-size: 2em;
                    transition: all 0.5s;
                }
                input {
                    width: 100%;
                    height: 100%;
                    border: 1px solid transparent;
                    background: transparent;
                    text-indent: rem(116);
                    line-height: rem(50);
                    color: #000;
                    transition: all 0.5s;
                    &:focus {
                        text-indent: 2em;
                        &+i {
                            opacity: 0;
                        }
                    }
                }
            }
        }
        .main {
            display: flex;
            border-top: rem(1) solid #abaaaa;
            border-bottom: rem(1) solid #abaaaa;
            height: 70%;
            * {
                @include boxSizing;
            }
            .district-list {
                position: relative;
                overflow-y: scroll;
                -webkit-overflow-scrolling: touch;
                width: 27%;
                border-right: rem(1) solid #abaaaa;
                li {
                    height: rem(104);
                    line-height: rem(104);
                    text-align: center;
                    background: #eeefee;
                    font-size: rem(30);
                    &.active {
                        background: #fff;
                    }
                    &+li {
                        border-top: rem(1) solid #abaaaa;
                    }
                }
            }
            .shop-list {
                width: 73%;
                overflow-y: scroll;
                -webkit-overflow-scrolling: touch;
                position: relative;
                // overflow: hidden;
                .list-item {
                    h2 {
                        background: #eeefee;
                        height: rem(42);
                        line-height: rem(42);
                        padding-left: rem(40);
                        font-size: rem(22);
                        color: #abaaaa;
                    }
                    &+.list-item {
                        border-top: 1px solid #eeefee;
                    }
                    &.active {
                        background: #eeefee;
                    }
                    .list-warpper {
                        li {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-around;
                            padding: rem(23) 0 rem(34);
                            padding-left: rem(40);
                            padding-right: rem(58);
                            .shop-title {
                                display: flex;
                                justify-content: space-between;
                                h4 {
                                    font-size: rem(30);
                                    line-height: rem(32);
                                }
                                span {
                                    font-size: rem(30);
                                    color: #abaaaa;
                                }
                            }
                            .phone {
                                margin: rem(10) 0;
                            }
                            address {
                                font-style: normal;
                                color: #abaaaa;
                                font-size: rem(22);
                            }
                        }
                    }
                }
            }
        }
        .btn {
            margin-top: rem(20);
            @include blockCenter;
            width: 80%;
        }
    }
    .order-sure {
        display: none;
        position: fixed;
        z-index: 999;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }
}

.userCenter {
    .user-little-info {
        position: relative;
        background: url('../img/userCenter-bg.jpg') no-repeat center;
        background-size: cover;
        height: rem(363);
        .user-warp {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            position: absolute;
            top: rem(268);
            @include rowCenter;
            width: 90px;
            height: 120px;
            .user-face {
                width: 100%;
                height: 90px;
                @include radius(100%);
                @include boxSizing;
                border: rem(1) solid #fff;
                background: url('../img/default-face.jpg') no-repeat center;
            }
            .user-name {
                font-size: rem(30);
            }
        }
    }
    .user-controls {
        width: 90%;
        margin: rem(111) auto;
        li {
            display: flex;
            align-items: center;
            height: rem(80);
            border-bottom: rem(1) solid #dcdcdc;
            font-size: rem(30);
            cursor: pointer;
            i {
                font-size: 1.2em;
            }
            h4 {
                margin-left: rem(17);
            }
            span {
                // background: red;
                flex-grow: 10;
                text-align: right;
                font-size: 1.5em;
                color: $primary-color;
            }
        }
    }
}

.user-info {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 105vh;
    z-index: 999999999;
    background: #fff;
    ul {
        @include clearfix;
        li {
            float: left;
            width: 50%;
            margin-top: rem(40)!important;
        }
    }
    .btn {
        margin-bottom: rem(20);
    }
}

.my-order {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: rem(130);
    background: #fff;
    overflow-y: scroll;
    // z-index: 99999999999;
    h3 {
        margin: rem(40) 0 rem(20);
        text-align: center;
    }
}

.trans {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: rem(130);
    background: #fff;
    overflow-y: scroll;
}

.order-list-warpper {
    width: 90%;
    margin: 0 auto;
    li {
        display: flex;
        height: rem(155);
        @include radius(rem(11));
        background-color: #eeefee;
        justify-content: space-between;
        align-items: center;
        margin-bottom: rem(16);
        @include boxSizing;
        padding: 0 rem(37);
        .order-detail {
            width: 70%;
            .shopName {
                margin-bottom: rem(12);
                font-size: rem(30);
            }
            .order-time {
                margin-bottom: rem(10);
                font-size: rem(20);
                color: #9fa0a0;
            }
            .order-addrees {
                font-size: rem(20);
                color: #9fa0a0;
                @include textOver;
            }
        }
        i {
            font-style: normal;
            font-size: rem(30);
            color: $primary-color;
        }
    }
}

::-webkit-input-placeholder {
    color: #abaaaa;
}