@import "./_mixin.scss";
@import "./_reset.scss";
@import "./dialog.scss";
html,
body {
    font-size: 10px;
}

input,
button {
    -webkit-appearance: none;
}

input:focus,
button:focus,
input[type="text"].active,
input[type="password"].active {
    border: rem(1) solid $primary-color!important;
    box-shadow: 0 0 rem(10) $primary-color;
}

input[type="button"]:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="file"]:active,
button:active {
    background: #a4112b;
}

.title {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    height: rem(60);
    border-bottom: 1px solid #ddd;
    a {
        position: absolute;
        z-index: 11;
        margin-left: rem(10);
        font-size: rem(16);
    }
    h4 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 0;
        margin: 0;
        text-align: center;
        line-height: rem(60);
    }
}

.header {
    max-width: 100%;
    text-align: center;
    img {
        width: 50%;
    }
}

.nav-tab {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    list-style: none;
    width: 100%;
    margin: 0;
    padding: rem(10) 0;
    border-top: 1px solid #eee;
    li {
        width: 33.333333333%;
        text-align: center;
        a {
            display: flex;
            flex-direction: column;
            font-size: rem(14);
        }
        &.active {
            a {
                color: #3cb2ff;
            }
        }
    }
}

.loading {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999999;
    padding: 2rem;
    background: rgba(0, 0, 0, .5);
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
}

.btn {
    display: block;
    width: 100%;
    height: rem(92);
    line-height: rem(92);
    border-radius: rem(8);
    font-size: rem(30);
}

.btn:disabled {
    background: $default-color!important;
    color: #fff!important;
}

.btn-primary {
    @extend .btn;
    background: $primary-color;
    color: #fff;
}

.btn-default {
    @extend .btn;
    background: $default-color;
    color: $primary-color;
}

.form-box {
    margin-bottom: rem(26);
    .fs-title {
        color: $primary-color;
        font-size: rem(30);
        text-align: left;
    }
    .form-item {
        position: relative;
        width: 100%;
        height: rem(88);
        margin-top: rem(22);
        i {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            width: rem(130);
            height: rem(88);
            line-height: rem(88);
            color: #1c1c1c;
            font-size: rem(30);
            font-style: normal;
            text-align: center;
        }
        input {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: rem(2) solid #abaaaa;
            @include radius(rem(6));
            text-indent: rem(132);
            font-size: rem(30);
        }
        .drop {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: rem(2) solid #abaaaa;
            @include radius(rem(6));
            h3 {
                position: absolute;
                top: -1px;
                left: 0;
                width: 100%;
                height: 100%;
                font-size: rem(30);
                text-align: left;
                text-indent: rem(132);
                line-height: rem(88);
                &:after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    right: rem(40);
                    width: rem(34);
                    height: rem(20);
                    margin-top: rem(-20/2);
                    background: url('../img/arrow-down.png') no-repeat;
                    background-size: contain;
                    transition: all 0.5s;
                }
                &.active {
                    &:after {
                        transform: rotate(180deg);
                    }
                }
            }
            .drop-menu {
                display: none;
                position: absolute;
                top: 99%;
                left: -1px;
                z-index: 99999;
                width: 100%;
                padding: rem(30);
                border: 1px solid #abaaaa;
                box-shadow: 0 0 5px $primary-color;
                border-top: none;
                @include radius(0 0 rem(8) rem(8));
                background: #fff;
                @include boxSizing;
                li {
                    float: left;
                    margin: 0 rem(5) rem(10) 0;
                    padding: rem(10) rem(20);
                    background: #dcdddd;
                    border-radius: rem(8);
                    cursor: pointer;
                    // @include boxShadow(1px 1px 1px #1c1c1c);
                    color: #000;
                    &:nth-last-of-type(1) {
                        border-bottom: none;
                    }
                    &:nth-last-of-type(2) {
                        border-bottom: none;
                    }
                    &:nth-last-of-type(3) {
                        border-bottom: none;
                    }
                }
            }
        }
        .password-strong {
            display: none;
            position: absolute;
            bottom: rem(-30);
            width: 60%;
            height: rem(20);
            li {
                float: left;
                width: 28%;
                height: 100%;
                background: $default-color;
                &.error {
                    background: $primary-color;
                }
                &.warring {
                    background: #f2841b;
                }
                &.success {
                    background: #7bc144;
                }
                &+li {
                    margin-left: rem(1);
                }
                &:nth-of-type(1) {
                    @include radius(rem(10) 0 0 rem(10));
                }
                &:nth-last-of-type(1) {
                    @include radius(0 rem(10) rem(10) 0);
                }
            }
        }
    }
    .lpprefix-warpper {
        .lpprefix {
            width: 25%;
            h3 {
                text-indent: rem(24);
            }
        }
        .lpprefix-num {
            width: 70%;
            left: 30%;
        }
    }
    .clitype-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: rem(30);
        .cliter {
            width: 48%;
            border: rem(2) solid #abaaaa;
            margin-bottom: rem(15);
            @include radius(rem(8));
            @include boxSizing;
            &.active {
                border: rem(2) solid $primary-color;
                .cliter-title {
                    border-bottom: rem(2) solid $primary-color;
                    background: $primary-color;
                    color: #fff;
                }
            }
            .cliter-title {
                @include boxSizing;
                width: 100%;
                border-bottom: rem(2) solid #abaaaa;
                // background: $primary-color;
                line-height: rem(77);
                color: #abaaaa;
                font-size: rem(25);
            }
            .cliter-text {
                // display: table;
                padding: rem(12) rem(10);
                vertical-align: middle;
                @include boxSizing;
                // height: rem(128);
                p {
                    line-height: rem(31);
                    width: 100%;
                    font-size: rem(24);
                    @include textOver;
                    width: 100%;
                    /*设置宽度*/
                    span {
                        color: $primary-color;
                        font-size: rem(24);
                    }
                }
            }
        }
    }
    &.image-box {
        display: block;
    }
    .image-warpper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: rem(18);
        .image-file {
            position: relative;
            width: 49%;
            height: rem(170);
            @include radius(rem(6));
            @include boxSizing;
            padding: rem(50) rem(61);
            margin-bottom: rem(20);
            background: #e2e2e2 url('../img/card-bg.png') no-repeat center;
            background-size: contain;
            .moxie-shim {
                display: none;
            }
            .file {
                z-index: 9999999;
                position: absolute;
                opacity: 0;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
            span {
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                right: 0;
                text-align: center;
                line-height: rem(170);
                font-size: rem(30);
                color: #828282;
            }
            .progress-warpper {
                display: none;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: rem(25);
                @include radius(rem(12));
                background: $default-color;
                overflow: hidden;
                .progress {
                    width: 50%;
                    height: 100%;
                    background: $primary-color;
                    // transition: all 0.6s;
                }
                .progress-text {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    text-align: center;
                    line-height: rem(25);
                    font-size: rem(12);
                }
            }
        }
    }
    .vcode-wrapper {
        .vcode {
            width: 63%;
        }
        .vcode-btn {
            left: 70%!important;
            width: 30%!important;
            text-indent: 0;
            text-align: center;
        }
    }
}


/*
字体图标
*/