@import './_mixin.scss';
.dialog-template {
    display: none;
}

.dialog-container {
    position: fixed;
    z-index: 9999;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    .dialog-mark {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: black;
        opacity: 0.5;
    }
    .dialog-box {
        display: none;
        position: absolute;
        top: 50%;
        width: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        border: 1px solid #999;
        border: 1px solid rgba(0, 0, 0, .2);
        border-radius: 6px;
        outline: 0;
        -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
        box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
        .dialog-title {
            padding: 15px;
            border-bottom: 1px solid #e5e5e5;
            text-align: center;
            .close {
                margin-top: -2px;
                -webkit-appearance: none;
                padding: 0;
                cursor: pointer;
                background: 0 0;
                border: 0;
                float: right;
                font-size: 21px;
                font-weight: 700;
                line-height: 1;
                color: #000;
                text-shadow: 0 1px 0 #fff;
                filter: alpha(opacity=20);
                opacity: .2;
            }
        }
        .dialog-content {
            // max-height: rem(500);
            // overflow-y: scroll;
            position: relative;
            padding: rem(10) rem(70);
            line-height: rem(40);
            font-size: rem(28);
        }
        .dialog-controls {
            padding: 15px;
            text-align: right;
            border-top: 1px solid #e5e5e5;
            input,
            button {
                background: $primary-color;
                border: rem(1) solid $primary-color;
                margin: rem(12) 0; // padding: rem(10) rem(15);
                color: #fff;
                border-radius: rem(8);
            }
        }
    }
    @include media(lg) {
        .dialog-box {
            width: 30%;
        }
    }
}