@import "./_mixin.scss";
body {
    overflow-x: hidden;
}

#msform {
    width: 80%;
    margin: rem(50) auto;
    text-align: center;
    position: relative;
    fieldset {
        width: 100%;
        padding: 0 0 rem(50);
        background: white;
        border: 0 none;
        border-radius: 3px;
        box-sizing: border-box;
        position: absolute;
        &:not(:first-of-type) {
            display: none;
        }
    }
    .next {
        margin-top: rem(52);
        margin-bottom: rem(30);
    }
}


/*headings*/


/*progressbar*/

#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    counter-reset: step;
    li {
        list-style-type: none;
        color: #c0bfbf;
        text-transform: uppercase;
        font-size: rem(24);
        width: 25%;
        float: left;
        position: relative;
        &:before {
            display: block;
            width: rem(80);
            height: rem(80);
            border-radius: 100%;
            margin: 0 auto 5px auto;
            background: #e8e8e8;
            line-height: rem(80);
            font-size: rem(40);
            color: #abaaaa;
            content: counter(step);
            counter-increment: step;
        }
        &:after {
            content: '';
            width: 100%;
            height: 2px;
            background: white;
            position: absolute;
            left: -50%;
            top: rem(41);
            z-index: -1;
        }
        &:first-child:after {
            content: none;
        }
        &.active {
            &:before,
            &:after {
                background: $primary-color;
                color: white;
            }
        }
    }
}