@import './_mixin.scss';
@import './dialog.scss';

/*左侧导航栏*/

input,
button {
    -webkit-appearance: none;
}

input:focus,
button:focus,
input[type="text"].active,
input[type="password"].active {
    border: rem(1) solid $primary-color!important;
    box-shadow: 0 0 rem(10) $primary-color;
}

input[type="button"]:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="file"]:active,
button:active {
    background: #a4112b;
}

.logo {
    padding-top: rem(10);
    font-size: 3rem;
    text-align: center;
    color: #fff;
    transition: all 0.5s;
    span {
        display: block;
    }
}

.down-main {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0px;
    z-index: 100;
}

.left-full {
    width: 160px;
    display: block;
}

.right-full {
    left: 160px;
}

.left-off {
    width: 48px;
    display: block;
}

.right-off {
    left: 48px;
}

body {
    background-color: #eceff3;
}

.right-product {
    position: absolute;
    top: 0px;
    right: 0px;
    // bottom: 0;
    // background: #FFF;
    transition: all 0.5s;
}

.sidebar-fold {
    height: 30px;
    width: 100%;
    background: #394555;
    color: #aeb9c2;
    text-align: center;
    height: 30px;
    font-size: 12px;
    cursor: pointer;
}

.sidebar-fold span {
    line-height: 30px;
}


/*.left-main{ bottom: 0px; top:0px; position:absolute; background-color:#293038;}*/

ul,
ol {
    list-style: none;
}

.left-main {
    bottom: 0px;
    top: 0;
    z-index: 100;
    position: fixed;
    background-color: #293038;
    transition: all 0.5s;
}

.sBox ul li {
    list-style-type: none;
    position: relative;
}

.sBox ul {
    padding: 0px;
    position: relative;
    margin: 0px;
}

.sBox ul li a {
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    text-decoration: none;
    color: #FFF;
}

.sBox .sublist-icon {
    width: 48px;
    text-align: center;
}

.subNavBox .subNav {
    height: 40px;
    line-height: 40px;
    color: #fff;
}

.subNavBox .subNav .title-icon {
    width: 48px;
    text-align: center;
}

.sBox .sublist-down {
    background-color: #22282e;
}

.sBox .sublist-up {
    background-color: #37424f;
}

.sBox .sublist-up ul {
    display: none;
}

.sBox .sublist-title {
    cursor: pointer;
    font-size: 12px;
}

.sBox .subNav:hover,
.sBox ul li:hover {
    background-color: #42515f;
}

.sBox ul .active {
    background-color: #f73859;
}

.sBox span {
    line-height: 36px;
}


/*======内容页标题=====*/

.info-center .page-header {
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px;
    height: 57px;
    line-height: 57px;
}

.info-center .page-header h4 {
    margin-top: 20px;
    padding-left: 8px;
    color: #363636;
    border-left: 2px solid #f73859;
    font-size: 16px;
}


/*====表单搜索框====*/

.info-center .search-box {
    margin-top: 10px;
}

.search-box .form-group {
    float: left;
    padding-right: 15px;
}

.search-box .form-group input {
    width: 120px;
}

.search-box .form-group select {
    width: auto;
}

.form-span {
    line-height: 34px;
    padding-right: 10px;
    font-weight: bold;
}

.btn-default {
    background-color: #f7f7f7;
}

.info-center-title {
    margin-top: 10px;
}

.info-center-title .padding-large-right {
    padding-right: 30px;
}

.info-center-title span a {
    height: 30px;
    cursor: pointer;
    line-height: 30px;
    color: #656565;
    display: block;
    font-weight: 600;
    float: left;
    text-decoration: none;
}

.info-center-title span .active {
    color: #f73859;
    border-bottom: solid 2px #f73859;
}

.info-center-title span a:hover {
    color: #f73859;
    border-bottom: solid 2px #f73859;
}


/*表格样式*/

.table-header thead,
.table-header tfoot {
    background-color: #f5f6fa;
    color: #87898b;
}

.table-list {
    margin-top: 0px;
}

.table-bordered>tbody>tr>td,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>td,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>thead>tr>th {
    border-bottom: 1px solid #e1e6eb;
    vertical-align: middle;
    font-size: 14px;
}

table {
    text-align: center;
}

table td span {
    display: inline-block;
}

.table-bordered>tbody>tr>td,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>td,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>thead>tr>th {
    position: relative;
    border-bottom: 1px solid #e1e6eb;
    .btn {
        margin-left: 50px;
        border: none;
        background: $primary-color;
        &:active {
            background: #f73850;
        }
    }
}

.table-bordered {
    border: 1px solid #e1e6eb;
}

.table-bordered>tbody>tr>td,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>td,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>thead>tr>th {
    border: 1px solid #e1e6eb;
}

.table-margin {
    margin-top: 10px;
}

tfoot .pagination {
    margin: 0px;
}


/*二级导航功能*/

#layout .left-back {
    position: absolute;
    bottom: 0px;
    height: 100%;
    background-color: #EAEDF1;
}

#layout .right-back {
    position: absolute;
    bottom: 0px;
    height: 100%;
}

.left-back .nav li {
    margin: 0px;
}

.left-back .nav .active a {
    color: #000;
    border-radius: 0px;
    background-color: #FFF;
}

.left-back .nav li a:hover {
    background-color: #f5f6f8;
    color: #000;
    border-radius: 0px;
}


/*=========后台首页=========*/

.my-index {
    background-color: #eceff3;
}

.info-center .info-title {
    margin-top: 30px;
    margin-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.info-center .info-title h4 {
    margin-bottom: 0px;
}

.info-center .time-title {
    height: 70px;
}

.time-title .hour-minute strong {
    font-size: 34px;
}

.year-month p {
    margin-bottom: 0px;
}

.year-month p span {
    font-size: 24px;
}

.user-info {
    margin-top: 15px;
    margin-left: 0;
    margin-right: 0;
    background: #fff;
}

.user-info h3 {
    font-size: 20px;
}

.user-info p {
    font-size: 30px;
}

.content-list {
    margin-top: 30px;
}

.content-list .row {
    margin-left: 0px;
    margin-right: 0px;
}

.content-list [class^="col-"] {
    padding: 0
}

.content-list .row .content {
    background-color: #FFF;
    /*margin-bottom: 12px;*/
}

.content-list .row .content .left-icon {
    text-align: center;
}

.content-list .row .content .right-title {
    display: block;
    color: #666666;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.content-list .row .content .left-icon span {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 40px;
    line-height: 40px;
    color: #FFF;
    border-radius: 50%;
}

.content .left-icon .blue {
    background-color: #2abbeb;
}

.content .left-icon .violet {
    background-color: #675499;
}

.content .left-icon .orange {
    background-color: #eac553;
}

.content .left-icon .green {
    background-color: #1cbba7;
}

.content .right-title .number {
    font-size: 46px;
    margin-top: 0px;
    padding: 0;
    margin-bottom: 0;
    color: #f73859;
}

.content .right-title p {
    margin-bottom: 5px;
}

.content .right-title .title-content {
    width: 130px;
}

.content .right-title .title-content .btn-default {
    background-color: #f5f8f9;
}

.newslist .panel-default {
    border: none;
}

.newslist .panel-default>.panel-heading {
    background-color: #f2f3f6;
    border: none;
}

.newslist .panel-body {
    padding: 10px;
    border-bottom: solid 1px #eaeaea;
}

.list-group {
    .list-group-item {
        border: none;
        .list-group-item-heading {
            color: #abaaaa;
            font-size: rem(30);
            i {
                padding-right: rem(12);
            }
        }
        .list-group-item-text {
            font-size: rem(30);
            padding-left: rem(39);
        }
    }
    .servers {
        @include clearfix;
        list-style: none;
        padding: 0;
        li {
            float: left;
            padding: rem(22) rem(34);
            margin: rem(10) rem(10) 0 0;
            text-align: center;
            border: rem(1) solid $default-color;
            @include radius(rem(8));
            &.active {
                border-color: $primary-color;
                background: url('../img/server-item-bg.png') no-repeat 90% 90%;
                background-size: 20%;
            }
        }
    }
}

.form-item {
    position: relative;
    width: 100%;
    height: rem(88);
    margin-top: rem(22);
    i {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        width: rem(130);
        height: rem(88);
        line-height: rem(88);
        color: #1c1c1c;
        font-size: rem(30);
        font-style: normal;
        text-align: center;
    }
    input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: rem(2) solid #abaaaa;
        @include radius(rem(6));
        text-indent: rem(132);
        font-size: rem(30);
    }
    .drop {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: rem(2) solid #abaaaa;
        @include radius(rem(6));
        background: #fff;
        h3 {
            position: absolute;
            top: -1px;
            left: 0;
            width: 100%;
            height: 100%;
            font-size: rem(30);
            text-align: left;
            text-indent: rem(132);
            line-height: rem(88);
            margin: 0;
            &:after {
                content: '';
                position: absolute;
                top: 50%;
                right: rem(40);
                width: rem(34);
                height: rem(20);
                margin-top: rem(-20/2);
                background: url('../img/arrow-down.png') no-repeat;
                background-size: contain;
                transition: all 0.5s;
            }
            &.active {
                &:after {
                    transform: rotate(180deg);
                }
            }
        }
        .drop-menu {
            display: none;
            position: absolute;
            top: 99%;
            left: -1px;
            z-index: 99999;
            width: 100%;
            padding: rem(30);
            border: 1px solid #abaaaa;
            box-shadow: 0 0 5px $primary-color;
            border-top: none;
            @include radius(0 0 rem(8) rem(8));
            background: #fff;
            @include boxSizing;
            li {
                float: left;
                margin: 0 rem(5) rem(10) 0;
                padding: rem(10) rem(20);
                background: #dcdddd;
                border-radius: rem(8);
                cursor: pointer;
                // @include boxShadow(1px 1px 1px #1c1c1c);
                color: #000;
                &:nth-last-of-type(1) {
                    border-bottom: none;
                }
                &:nth-last-of-type(2) {
                    border-bottom: none;
                }
                &:nth-last-of-type(3) {
                    border-bottom: none;
                }
            }
        }
    }
    .password-strong {
        display: none;
        position: absolute;
        bottom: rem(-30);
        width: 60%;
        height: rem(20);
        li {
            float: left;
            width: 28%;
            height: 100%;
            background: $default-color;
            &.error {
                background: $primary-color;
            }
            &.warring {
                background: #f2841b;
            }
            &.success {
                background: #7bc144;
            }
            &+li {
                margin-left: rem(1);
            }
            &:nth-of-type(1) {
                @include radius(rem(10) 0 0 rem(10));
            }
            &:nth-last-of-type(1) {
                @include radius(0 rem(10) rem(10) 0);
            }
        }
    }
}

.btn {
    display: block;
    width: 100%;
    height: rem(92);
    line-height: rem(92);
    border-radius: rem(8);
    font-size: rem(30);
}

.btn:disabled {
    background: $default-color!important;
    color: #fff!important;
}

.btn-primary {
    @extend .btn;
    background: $primary-color;
    color: #fff;
}

.btn-default {
    @extend .btn;
    background: $default-color;
    color: $primary-color;
}

.image-warpper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: rem(18);
    .image-file {
        position: relative;
        width: 49%;
        height: rem(170);
        @include radius(rem(6));
        @include boxSizing;
        padding: rem(50) rem(61);
        margin-bottom: rem(20);
        background: #e2e2e2 url('../img/card-bg.png') no-repeat center;
        background-size: contain;
        
        .file {
            z-index: 9999999;
            position: absolute;
            opacity: 0;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        span {
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            text-align: center;
            line-height: rem(170);
            font-size: rem(30);
            color: #828282;
        }
        .progress-warpper {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: rem(25);
            @include radius(rem(12));
            background: $default-color;
            overflow: hidden;
            .progress {
                width: 50%;
                height: 100%;
                background: $primary-color; // transition: all 0.6s;
            }
            .progress-text {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                text-align: center;
                line-height: rem(25);
                font-size: rem(12);
            }
        }
    }
}

@include media(xs) {
    .upload {
        width: 80%;
        margin: 0 auto;
        .image-warpper {
            display: flex;
            justify-content: space-between;
            .warpper {
                width: 100%;
                h3 {
                    margin-bottom: 10px;
                    font-size: rem(30);
                }
                .image-file {
                    width: 100%;
                    height: 175px;
                    @include radius(8);
                    background-size: 50%;
                    span {
                        left: 50%;
                        top: 50%;
                        width: rem(180);
                        height: rem(50);
                        background: #abaaaa;
                        line-height: rem(50);
                        color: #fff;
                        @include radius(8);
                        transform: translate(-50%, -50%);
                    }
                }
            }
        }
        input {
            border: none;
        }
        .btn {
            width: 100%;
            padding: 0;
            margin-bottom: rem(24);
        }
        .previous {
            background: #fff;
        }
    }
}



.btn-primary {
    border: none!important;
}

.btn-primary:active {
    background: $primary-color;
}

.btn {
    line-height: 1!important;
    height: 2.6rem!important;
}

.select-item {
    @include clearfix;
    width: 100%;
    // background: red;
    font-size: rem(30);
    line-height: rem(40);
    margin: 15px 0;
    .select-title {
        float: left;
    }
    .select-tab {
        float: right;
        margin-right: 20px;
        position: relative;
        width: rem(150);
        height: rem(40);
        border-radius: rem(20);
        overflow: hidden;
        input {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            width: 100%;
            height: 100%;
            z-index: 999;
            -webkit-appearance: checkbox;
        }
        .ball {
            position: absolute;
            @include visCenter;
            right: 10px;
            width: rem(30);
            height: rem(30);
            background: #fff;
            @include radius(100%);
            transition: all 0.5s;
            z-index: 8
        }
        .text {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            color: #fff;
            line-height: rem(40);
        }
        .true {
            text-indent: 1em;
            background: $success-color;
        }
        .false {
            display: none;
            text-indent: 2.5em;
            background: $primary-color;
        }
        input:checked {
            &~.ball {
                left: 10px;
            }
            &~.false {
                display: block;
            }
        }
    }
}

@include media(sm) {
    .upload {
        width: 80%;
        margin: 0 auto;
        .image-warpper {
            display: flex;
            justify-content: space-between;
            .warpper {
                width: 30%;
                h3 {
                    margin-bottom: 10px;
                    font-size: rem(30);
                }
                .image-file {
                    width: 100%;
                    height: 175px;
                    @include radius(8);
                    background-size: 50%;
                    span {
                        left: 50%;
                        top: 50%;
                        width: rem(180);
                        height: rem(50);
                        background: #abaaaa;
                        line-height: rem(50);
                        color: #fff;
                        @include radius(8);
                        transform: translate(-50%, -50%);
                    }
                }
            }
        }
        input {
            border: none;
        }
        .btn {
            float: left;
            width: 20%;
            padding: 0;
            margin-bottom: rem(24);
            &+.btn {
                margin-left: 2%;
            }
        }
        .previous {
            background: #fff;
        }
    }
}