@import './_mixin.scss';
html,
body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: rem(30);
}

.wechat_pay {
    width: 80%;
    padding-top: rem(50);
    .smile {
        font-size: 15rem;
        color: $primary-color;
        text-align: center;
    }
    p {
        text-align: center;
        line-height: rem(52);
    }
    .content {
        .block {
            display: none;
            margin-top: rem(74);
            ul {
                padding-left: rem(24);
                li {
                    margin-bottom: rem(26)
                }
            }
        }
    }
    .don1 {
        display: block;
        margin-top: rem(84);
    }
}

.phone {
    padding-bottom: rem(48);
    a {
        color: $primary-color;
    }
}

.noWechatBrowser {
    text-align: center;
    .erweima {
        width: rem(250);
        height: rem(250);
        @include blockCenter;
    }
}